@model Tuple<List<Equipment>, int>

@{
    ViewData["Title"] = "Shop";
}

<div class="shop-div">
    <div class="shop-box">
        <div class="shop-header">
            <h3>Shop</h3>
            <div class="coin-box">
                <img src="~/images/Mysticoin.svg" />
                <p id="coins" style="color: black">@Model.Item2</p>
            </div>
        </div>
        <hr />
        <div class="shop-slot-box">
            @foreach (Equipment equipment in Model.Item1)
            {
                <div id="@equipment.Id" class="shop-slot-with-price" style="cursor: pointer" onclick="BuyItem(@equipment.Id)">
                    <div class="shop-slot">
                        <img src="~/images/Equipment/@equipment.Image-trim.gif" />
                    </div>
                    <div class="shop-price">
                        <img src="~/images/Mysticoin.svg" />
                        <p>@equipment.Price</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        function BuyItem(id) {
            $.post("@Url.Action("BuyItem", "Shop")", { equipmentId: id }, function (moneyNeeded) {
                if (moneyNeeded <= 0) {
                    $("#" + id).remove();
                    RefreshCoins();
                }
                else {
                    alert("You need " + moneyNeeded + " more Mysticoins...\nComplete quests to earns coins!");
                }
            });
        }

        function RefreshCoins() {
            $.post("@Url.Action("GetCoins", "Shop")", function (coins) {
                $("#coins").text(coins);
            });
        }
    </script>
}